<div class="footer-container">
    <footer>
        <h3>Created By Tan Hung Nguyen</h3>
        <h3>Data Provided By BrainGame API</h3>
        <h3>Contact Me:</h3>
        <a class="contact" href="mailto:ngtanhung1403work@gmail.com"><img src="/images/email.png" alt="Email Icon"></a>
        <a class="contact" href="https://github.com/tan-hung-nguyen" target="_blank"><img src="/images/github.png" alt="GitHub Icon"></a>
        <a class="contact" href="https://www.linkedin.com/in/tan-hung-nguyen/" target="_blank"><img src="/images/linkedin.png"></a>
    </footer>

</div>