<section class="header">
            <div class="inner-header">
                <%- include ('searchBox.ejs') %>
                    <div class="info">
                        <h2>Find Your Favorite Games</h2>
                        <p>
                            Discover detailed information about your favorite games, including
                            release dates, platforms, genres, and more. Start your search now!
                        </p>
                    </div>
                    <div class="categories">
                        <h2>Find Games by</h2>
                        <div class="dropdown">
                            <button class="dropbtn">Categories</button>
                            <div class="dropdown-content">
                                <a href="/action">Action</a>
                                <a href="/adventure">Adventure</a>
                                <a href="/puzzle">Puzzle</a>
                            </div>
                        </div>
                    </div>
            </div>
    </section>