<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/header.css">
    <title>Game Search Engine</title>
    <style>
    body{
        background-image: url('/images/header-background.png');
        background-size: cover;
    }
    </style>
</head>
<body>
    <%- include ('header.ejs') %>
</body>
</html>