<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Knewave&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="icon" type="image/png" href="/images/favicon.png"/>
    <title>Requested Limit Reached</title>
    <style>
        .inner-main{
            text-align: center;
            font-size: xx-large;
        }

        .main{
            height: 100vh;
            justify-content: center;
            align-items: center;
        }

        @media (max-width: 600px) {
            .inner-main{
                font-size: large;
                padding: 20px;
            }
        }
    </style>
</head>
<body>
    <section class="main">
        <div class="inner-main">
            <h1>API Request Limit Reached :(</h1>
            <p>Sorry, you have reached the maximum number of API requests allowed for today.</p>
            <p>Please try again later.</p>
        </div>
    </section>
</body>
</html>