    <div class="search-container">
        <a href="/"><h1 class="knewave-regular">Game Search Engine</h1></a>
        <form class="search-bar" action="/search" method="GET">
            <input type="text" name="query"  placeholder="Search for a game..." required>
            <button type="submit"><img src="/images/search-icon.png"></button>
        </form>
    </div>