
#game-title{
    text-align: left;
    color: white;
}

.game-detail-container{
    display: flex;
    justify-content: space-around;
    height: 100%;
}
.game-detail{
    width: 70%;
    height: 100%;
}

.slides{
    background-color: #444857;
    border-radius: 10px;
}

.inner-slides{
    padding: 10px;
}

.media{
    width: 100%;
    border-radius: 10px;
}

.about-and-image-container{
    display: flex;
    gap: 10px;
    padding: 20px;
}
.game-about-container{
    background: linear-gradient(135deg, #222a36 60%, #4e5d78 100%);
    border-radius: 10px;
    display:flex;
    flex-direction: column;
    width: fit-content;
}

.slider-content{
    cursor: pointer;
    border-radius: 10px;
    height: 100px;
}

#game-image{
    border-radius: 10px;
    width: 200px;
    height: 300px;
    margin-top: 25px;
}
.about{
    width: 100%;
}

.tag{
    margin: 10px;
    width: auto;
    color: rgb(0, 139, 139);
}

.genres{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.tag-title-container{
    color: white;
    background-color: black;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
}

.video-and-image{
    background-color: #222a36;
    display: flex;
    overflow: auto;
    gap: 10px;
    cursor: pointer;
    margin: 10px 0;
    padding: 10px 10px 0px 10px;
    border-radius: 10px;
}
::-webkit-scrollbar{
    height: 8px;
}

::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 10px;
}
.slider-content.active {
  border: 2px solid white;           /* Highlight color */
  box-shadow: 0 0 8px #4e5d78;
}

.right-side{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 75px;
    width: 25%;
    height: 60%;
}

.price-container{
    margin: 10px;
    height: 80px;
    background-color: aqua;
    border-radius: 40px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

#price-value{
    font-size: 2rem;
    font-weight: bold;
    width: 100%;
    text-align: right;
    padding-right: 10px;
}

.platform-container{
    margin: 10px;
    height: 80px;
    background-color: lightgreen;
    border-radius: 40px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
}
.platform{
    text-align: right;
    width: 100%;
}
#platform-icon{
    width: 20px;
    margin: 5px;
    position: relative;
}

.platform-tooltip {
  visibility: hidden;
  opacity: 0;
  background: #222a36;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 6px 12px;
  position: absolute;
  z-index: 1;
  transform: translateY(-50%);
  transition: opacity 0.2s;
  white-space: nowrap;
  font-size: 0.9rem;
}

#platform-icon:hover + .platform-tooltip {
  visibility: visible;
  opacity: 1;
}