header{
  height: fit-content;
}

.inner-header{
  margin: 0 auto;
  background-color: #33373e;
  border-radius: 20px;
  width: 80%;
}

.info{
    color: lightblue;
    text-align: center;
    padding: 10px 20px;
}