header{
  height: fit-content;
}

.inner-header{
  margin: 0 auto;
  background-color: #33373e;
  border-radius: 20px;
  width: 80%;
}

.info{
    color: lightblue;
    text-align: center;
    padding: 0 20px;
}
.categories{
    display: flex;
    justify-content: center;
}
.categories h2{
    color: lightgreen;
    text-align: center;
    padding: 0 20px;
    margin-top: 10px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #33373e;
  color: white;
  padding: 12px 24px;
  font-size: 1.3em;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #444857;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 8px;
  z-index: 1;
}

.dropdown-content a {
  color: skyblue;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 8px;
}

.dropdown-content a:hover {
  background-color: #555a6a;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropbtn::after {
  content: " ▼";
  font-size: 0.8em;
}
