body {
            background-image: url("/images/header-background.png");
            background-size: cover;
        }
.main{
    margin: 20px auto;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}
.box-shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.inner-main{
    margin: 0 auto;
    background-color: #33373e;
    border-radius: 20px;
    width: 80%;
    box-sizing: border-box;
    padding: 20px;
    height: fit-content;
}
.inner-main h2{
    color: red;
    text-align: center;
    font-size: 2rem;
    padding: 0 20px;
    margin-top: 10px;
}
.main-container{
    margin: 10px auto;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr));
    gap: 30px;
    padding: 20px;
    justify-items: start;
    align-items: center;
}

.game-card-container{
    width: 100%;
    height: 300px;
    border-radius: 20px;
    background-color: #ffffff0a;
    transition: transform 0.2s;
    display: flex;
    
}
.anchor{
    width: 100%;
    height: 100%;
}
.game-card{
    background-color: #444857;
    border-radius: 20px;
    width: 350px;
    height: 290px;
    margin: auto 5px;
}
.game-card-container:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.game-card-container:hover .micro-trailer{
    display: block;
    width: 350px;
    height: 290px;  
    border-radius: 20px;
}

.game-card-container:hover .game-image{
    display: none;
}
.game-image{
    width: 350px;
    height: 290px;
    border-radius: 20px;
}

.game-info{
    color: whitesmoke;
    padding: 20px;
    font-size: large;
    }

.game-info h3{
    font-size: 1.8rem;
    margin: 0;
    padding: 0;
}

.micro-trailer{
    display: none;
}

.rating-container{
    position: relative;
    background-color: black;
    height: 150px;
    width: 100px;
    left: 20px;
    border-radius: 30%;
}

.rating-score{
    position: relative;
    background-color: green;
    width: 100px;
    height: 80px;
    text-align: center;
    border-radius: 30%;
}

.rating-score h3{
    position: relative;
    top: 20px;
}

.rating-score h4{
    position: relative;
    top: -10px;
}

.rating-icon{
    position: relative;
    top: 20px;

}

@media (max-width: 970px)
{
    body{
        background-size: contain;
    }
    .main-container{
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .game-card-container{
        display:block;
        box-sizing: border-box;
        height: fit-content;
        width: 100%;
        margin: 0 auto;
    }
    .anchor{
        width: 70%;
    }
    .game-card{
        width:100%;
        margin: auto;

    }
    
    .search-bar input{
        font-size: 1.2rem;
    }

    .knewave-regular
    {
        font-size: 2.7rem !important;
    }
    .game-image{
        width: 100%;
    }

    .game-card-container:hover .micro-trailer{
        width: 100%;
    }
    

}
@media (max-width: 700px)
{
    .game-info{
        font-size: medium;
    }
    .rating-container{
        height: 130px;
        width: 90px;
        left: 15px;
    }

    .knewave-regular
    {
        font-size: 2.3rem !important;
    }

    .search-bar input{
        font-size: 1.1rem;
    }
    .anchor{
        width: 90%;
    }
    .rating-score{
        width: 90px;
        height: 70px;
    }

    .rating-score h3{
        top: 15px;
        font-size: 1.5rem;
    }
    .rating-score h4{
        top: 15px;
        font-size: 0.7rem;
    }

    .rating-icon{
        top: 25px;
        width: 35px;
        height: 35px;
    }
}

@media (max-width: 500px)
{
    .search-bar input{
        font-size: 0.7rem;
    }

    .knewave-regular
    {
        font-size: 1.6rem !important;
    }

    .anchor{
        width: 100%;
    }

    .game-info{
        font-size: small;
    }
    .rating-container{
        height: 120px;
        width: 80px;
        left: 10px;
    }

    .rating-score{
        width: 80px;
        height: 60px;
    }

    .rating-score h3{
        top: 10px;
        font-size: 1.2rem;
    }
    .rating-score h4{
        top: -10px;
        font-size: 0.8rem;
    }

    .rating-icon{
        top: 10px;
        width: 40px;
        height: 40px;
    }

}
.very-positive{
    background-color: green;
}

.positive{
    background-color: yellowgreen;
}

.medium{
    background-color: orange;
}

.negative{
    background-color: red;
}